services:
  frontend:
    build:
      context: ./frontend   # Dockerfile のあるディレクトリ
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules  
